.whole-view {
<<<<<<< HEAD
    display: flex;
    height: auto;
=======
    display: flex
>>>>>>> 49f78a91761eac14d3a2e69f3491266c8830d100
}

.menu-lateral {
    width: 15%;
    height: 100vh;
}

.menu-header {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding-top: 8%;
    padding-bottom: 5%;
}

.menu-grr {
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}

.menu-list {
    width: 90%;
    margin: auto;
    margin-top: 5%;
<<<<<<< HEAD
}

.main-page {
    width: 85%;
    align-content: center;
    display: flex;
}

.obj {
    width: 100%;
=======
>>>>>>> 49f78a91761eac14d3a2e69f3491266c8830d100
}